@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;600;700&display=swap');
/*CUSTOM COLORS*/
:root {
  --dark-grey: #222;
  --light-grey: #2e3032;
  --header-font: #7e7f7f;
  --header-icons: #b8b6b6;
  --white: #fff;
  --btn: linear-gradient(
    180deg,
    rgba(90, 167, 206, 1) 0%,
    rgba(70, 129, 160, 1) 100%
  );
}
body {
  font-family: 'Lora', serif;
  font-size: 1.2em;
}
/* GENERAL STYLES */
#slider-footer {
  background-color: var(--light-grey);
  color: var(--header-icons);
}
/* social links btns */
.social-links {
  display: flex;
  align-items: center;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  border: none;
  background-color: var(--header-font);
  justify-content: center;
  margin-right: 0.7rem;
}
.social-links svg {
  fill: #fff;
  opacity: 0.6;
  height: 1.5rem;
}
.social-links svg:hover {
  opacity: 1;
  transform: scale(1.1);
  transition: all 0.3s ease;
}

/* typography */
p.post-date {
  font-size: 0.9rem;
}
p.body-text,
a.links {
  font-size: large;
  text-decoration: none;
}
a.links,
p.post-date {
  color: dodgerblue;
}
h3.sidebar-heading {
  margin: 2rem 0;
}
/*NAVBAR*/
#navbar {
  background: linear-gradient(
    40deg,
    rgba(34, 34, 34, 1) 0%,
    rgba(36, 36, 36, 1) 59%,
    rgba(62, 62, 62, 1) 100%
  ) !important;
}
a.logo {
  text-decoration: none;
  color: var(--white);
  font-size: 2.25rem;
}
a.logo span {
  color: var(--header-font);
}
.nav-link:hover {
  opacity: 0.7;
  transition: all 0.3s ease;
}
.navbar-brand h4 {
  color: var(--header-icons);
  font-size: 1.2rem;
}
.nav-link {
  color: var(--white) !important;
  font-size: 0.9rem;
  text-transform: uppercase;
}
.search-bar > form input {
  border-radius: 35px;
  padding-left: 2rem;
}
.search-bar .search-icon {
  position: absolute;
  margin: 0.6rem 0 0 0.6rem;
}
.search-bar > form button {
  border-radius: 50%;
  border-style: none;
  color: var(--header-icons);
  margin-left: -23.5rem;
}
.search-bar > form button:hover,
.search-bar > form button:hover svg {
  background: none;
}

/*MAIN DIV*/
/* carousel */
#slider {
  width: 100%;
}
.carousel-item img {
  width: inherit;
}
/* carousel footer */
#slider-footer {
  width: 100%;
  height: 10rem;
  padding: 1rem 1rem;
  align-items: center;
}
#slider-text {
  width: 65%;
  font-size: 1.6rem;
}
#slider-social {
  width: 40%;
  height: 20%;
  margin: 0 0 0 15%;
  padding: 0 0 0 2.5rem;
  justify-content: first baseline;
}
/* articles */
.article {
  max-width: 100%;
  padding: 2rem 2rem 2rem 1rem;
}
.img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 100%;
  min-width: 30%;
  background: #e9e9e9;
  border: 4px #fff double;
}
.article-img {
  width: 90%;
  height: 90%;
}
.article-content {
  margin-left: 3rem;
  min-height: 40%;
}
.more {
  display: none;
}
.read-more {
  width: 15rem;
  height: 2.5rem;
  background: var(--btn);
  color: #fff;
  font-size: medium;
  box-shadow: 0px 3px 1px -1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 3px 1px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 3px 1px -1px rgba(0, 0, 0, 0.75);
  text-shadow: 0px -1px 2px rgba(0, 0, 0, 1);
}
.read-more span:hover {
  font-size: 105%;
  transition: all 0.3s ease;
}
#article-pagination {
  margin-left: 1rem;
}
/* sidebar */
.sidebar {
  height: 100%;
  padding-left: 2rem;
  background: linear-gradient(
    180deg,
    rgba(231, 231, 231, 1) 41%,
    rgba(255, 255, 255, 1) 100%
  );
}
/* sponsors */
.sponsor-container {
  margin: 0 0.5rem;
}
.sponsor {
  min-height: 7rem;
  min-width: 10rem;
  background: #e9e9e9;
  border: 4px #fff double;
  margin: 1rem;
  display: flex;
  padding: 0.5rem;
}
.sponsor > .container {
  display: inherit;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}
/* footer */
.footer {
  max-width: calc(100vw - 0.3rem);
  margin-top: 2rem;
  padding: 2rem 0.5rem;
  background: var(--dark-grey);
  color: #fff;
}
.footer > .col {
  min-width: 20rem;
  display: flex;
  flex-direction: column;
}
.img-stream {
  display: flex;
  min-width: 6rem;
  min-height: 6rem;
}
.flickr-feed .row {
  margin-bottom: 1.5rem;
}
.img-stream img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(100%);
  border: solid 1px grey;
}
.footer p {
  color: var(--header-font);
}
.footer .lighter-font {
  color: var(--header-icons);
}
/* hidden/visible */
.hidden {
  display: none !important;
}
.visible {
  display: flex;
}
/* MEDIA QUERIES */
@media (min-width: 1200px) {
  .img-container {
    min-width: 25% !important;
  }
}
@media (max-width: 1024px) {
  #slider {
    margin-top: 0.9rem;
  }
}
@media (max-width: 970px) {
  body * {
    font-size: 98% !important;
  }
  a.logo {
    font-size: calc(2.25rem * 0.8);
  }
  .navbar-brand h4 {
    font-size: calc(1.2rem * 0.8) !important;
  }
  .nav-link {
    font-size: calc(0.9rem * 0.8) !important;
  }
  .img-container {
    min-width: 40% !important;
  }
  #slider {
    margin-top: -0.6rem;
  }
}
@media (max-width: 840px) {
  .navbar-brand h4 {
    display: none;
  }
  .navbar-nav {
    width: 102vw;
  }
  .search-bar {
    padding-right: 37vw !important;
  }
  .img-container {
    min-width: 23%;
  }
  .slider-footer {
    height: 8rem;
  }
}
@media (max-width: 767px) {
  #slider {
    margin-top: -2.75rem;
  }
  #slider-footer {
    flex-direction: column !important;
    text-align: center;
  }
  .social {
    margin: 1rem 0 0 0 !important;
    padding: 0 !important;
  }
  .sidebar {
    display: none;
  }
}
@media (max-width: 555px) {
  #main-wrapper {
    width: 100vw;
    align-items: center;
    padding: 0;
    margin: 0;
  }
  #navbar {
    width: 100vw;
  }
  #navbar form {
    margin-top: 1em;
  }
  #slider-footer {
    height: 8rem !important;
    align-content: center;
  }
  #slider-text p {
    display: none;
  }
  .social {
    width: 80% !important;
    margin: auto;
  }
  .article {
    flex-direction: column !important;
  }
  .img-container {
    height: 22rem !important;
    margin-bottom: 2rem;
  }
  .article-content {
    margin: 0.5rem !important;
  }
}
